.sec{
  min-height: 1000px;/* コンテンツが少ないので最低でも1000pxの高さがあるように */
  border: 5px solid #000;
  position: relative;
  overflow: hidden;/* はみ出たものは表示しない */
}


/* 左上のタイトル */
.item{
  font-size: 45px;
  font-weight: bold;
  transition: 1s all;/* 値に変更があった場合１秒かけて変化する */
  transition-delay: 0.2s;/* 少し遅らす(0.2秒) */
  overflow: hidden;/* はみ出たものは表示しない */
  width: 0;/* 幅を0にして表示しないように */
  padding-left: 50px;
}
#item01.in{
  width: 100%;
  padding-left: 0;
}

#item02.in{
  width: 100%;
  padding-left: 100px;
}

#item03.in{
  width: 100%;
  padding-left: 200px;
}


/* 2番目のコンテンツに追加した画像の親の設定 */
#person{
  transition: 2s all;/* 値に変更があった場合2秒かけて変化する */
  position: absolute;/* 親の.secに対して絶対的な位置になる */
  bottom: 0;/* 一番下 */
  right: 0;/* 一番右 */
  transform: translate(100%,100%);/* 枠外に移動させておく */
}

#person.in{
  transform: translate(0,0);/* 枠外から登場 */
}


/* 画像の設定 */
#person img{
  display: block;
  animation: move 30s infinite;/* 3秒かけてmoveというアニメーションがずっと続く */
}

/* 以下moveアニメーション */
@keyframes move{
  0%{
    transform: rotate(20deg) translate(-500px,-200px);
  }
  50%{
    transform: rotate(-20deg) translate(0,0);
  }
  100%{
    transform: rotate(20deg) translate(-500px,-200px);
  }
}